.loading {
    position:absolute;
    height: 100%;
    width: 100%;
    background-image: url('../image/pikachu-shy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}